
#product {
    background-color: bisque;

}
header{
    position: fixed;
    top: 0;
}
.forminput{
    width: 90%;
    padding: auto;
    margin: 4rem;
    text-align: center;
}
nav{
    position:fixed;
    top: 0;
}
#nav-bar {
    background-color: aqua;
    color: black;
}
.nav-link{
    display: flex;

}
@media screen {
    #video {
        width: 320px;
        height: 240px;
    }
}